<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capgemini.cn.deemo.mapper.BranchMapper">
    <select id="queryObject" resultType="com.capgemini.cn.deemo.data.domain.Branch">
        select * from branch where id = #{id}
    </select>

    <select id="listBranch" resultType="com.capgemini.cn.deemo.data.domain.Branch">
        select * from branch
    </select>

    <select id="countBranch" resultType="Long">
        select count(*) from branch
    </select>

    <select id="queryList" resultType="com.capgemini.cn.deemo.data.domain.Branch">
        select * from branch
    </select>

    <select id="queryAllBranch" resultType="com.capgemini.cn.deemo.data.dto.BranchDto">
        select * from branch
    </select>

    <insert id="save" parameterType="com.capgemini.cn.deemo.data.domain.Branch">
        insert into branch
        (
            `branchId`,
            `branchName`,
            `branchShortName`
        )
        values
        (
            #{branchId},
            #{branchName},
            #{branchShortName}
        )
    </insert>

    <update id="update" parameterType="com.capgemini.cn.deemo.data.domain.Branch">
        update branch
        <set>
            <if test="branchId != null">`branchId` = #{branchId}  , </if>
            <if test="branchName != null">`branchName` = #{branchName} , </if>
            <if test="branchShortName != null">`branchShortName` = #{branchShortName} </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="com.capgemini.cn.deemo.data.domain.Branch">
        delete from branch where id = #{id}
    </delete>

    <delete id="deleteBatch" parameterType="com.capgemini.cn.deemo.data.domain.Branch">
        delete from branch WHERE id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=Integer}
        </foreach>
    </delete>

</mapper>