<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capgemini.cn.deemo.mapper.MessageTypeMapper">
  
  <!-- 列出所有信息类型 -->
  <select id="listMessageTypes" resultType="com.capgemini.cn.deemo.data.domain.MessageType">
    SELECT * FROM MessageType
  </select>
  
  <!-- 获取一个信息类型 -->
  <select id="getMessageType" parameterType="Long" resultType="com.capgemini.cn.deemo.data.domain.MessageType">
    SELECT * FROM MessageType WHERE messageTypeId = #{messageTypeId}
  </select>
  
  <!-- 新增一个信息类型 -->
  <insert id="insertMessageType" parameterType="com.capgemini.cn.deemo.vo.request.MessageTypeEditVo">
    INSERT INTO MessageType (messageTypeId, messageTypeName, messageTypeDesc)
    VALUES
        (
          #{messageTypeEditVo.messageTypeId},
          #{messageTypeEditVo.messageTypeName},
          #{messageTypeEditVo.messageTypeDesc}
        )
  </insert>
  
  <!-- 修改一个信息类型 -->
  <update id="updateMessageType" parameterType="com.capgemini.cn.deemo.vo.request.MessageTypeEditVo">
    UPDATE MessageType
    SET messageTypeName = #{messageTypeEditVo.messageTypeName},
        messageTypeDesc = #{messageTypeEditVo.messageTypeDesc}
    WHERE messageTypeId = #{messageTypeEditVo.messageTypeId}
  </update>
  
  <!-- 删除信息类型 -->
  <delete id="deleteMessageTypes" parameterType="java.util.List">
    DELETE FROM MessageType WHERE messageTypeId IN
      <foreach collection="messageTypeIds" item="messageTypeId" separator="," open="(" close=")">
        #{messageTypeId}
      </foreach>
  </delete>
  
</mapper>