<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capgemini.cn.deemo.mapper.OperationLogMapper">
  
  <!-- 搜索字段 -->
  <sql id="search">
    <where>
      <if test="operationLogSearchVo.operationUserId != null">
        userId = #{operationLogSearchVo.operationUserId}
      </if>
      <if test="operationLogSearchVo.startTime != null and operationLogSearchVo.endTime != null">
        AND operationTime BETWEEN #{operationLogSearchVo.startTime} AND #{operationLogSearchVo.endTime}
      </if>
    </where>
  </sql>
  
  <!-- 获取OperationLog列表 -->
  <select id="listOperationLogs"
          parameterType="com.capgemini.cn.deemo.vo.request.OperationLogSearchVo"
          resultType="com.capgemini.cn.deemo.data.domain.OperationLog">
    SELECT *
    FROM OperationLog
    <include refid="search" />
    LIMIT #{operationLogSearchVo.start}, #{operationLogSearchVo.size}
  </select>
  
  <!-- 统计OperationLog长度 -->
  <select id="countOperationLogs"
          parameterType="com.capgemini.cn.deemo.vo.request.OperationLogSearchVo"
          resultType="Integer">
    SELECT count(1)
    FROM OperationLog
    <include refid="search" />
  </select>
  
  <!-- 插入一条OperationLog -->
  <insert id="insertOperationLog" parameterType="com.capgemini.cn.deemo.data.domain.OperationLog">
    INSERT INTO OperationLog
    (
      operationId, opeartionUserId, operationName, opeartionDesc, operationTime
    )
    VALUES
    (
      #{operationLog.operationId},
      #{operationLog.operationUserId},
      #{operationLog.operationName},
      #{operationLog.operationDesc},
      #{operationLog.operationTime}
    )
  </insert>
  
  <!-- 根据operationLogId删除OperationLog -->
  <delete id="deleteOperationLogs" parameterType="java.util.List">
    DELETE FROM OperationLog
    WHERE operationId IN
    <foreach collection="operationIds" item="operationId" separator="," open="(" close=")">
      #{operationId}
    </foreach>
  </delete>

</mapper>