<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capgemini.cn.deemo.mapper.UserMapper">
    <select id="queryObject" resultType="com.capgemini.cn.deemo.data.domain.User">
        select * from user where `isBlocked` = 0 and id = #{id}
    </select>

    <select id="listUser" resultType="com.capgemini.cn.deemo.data.domain.User">
        select * from user
    </select>

    <select id="queryList" resultType="com.capgemini.cn.deemo.data.domain.User">
        select * from user where `isBlocked` = 0
    </select>

    <select id="queryAll" resultType="com.capgemini.cn.deemo.data.dto.UserDto">
        select username,departmentId from user
    </select>

    <select id="countUser" resultType="Long">
        select count(*) from user
    </select>

    <insert id="save" parameterType="com.capgemini.cn.deemo.data.domain.User">
        insert into user
        (
            `userId`,
            `username`,
            `gender`,
            `departmentId`,
            `password`,
            `name`,
            `avatar`
        )
        values
        (
            #{userId},
            #{username},
            #{gender},
            #{departmentId},
            #{password},
            #{name},
            #{avatar}
        )
    </insert>

    <update id="update" parameterType="com.capgemini.cn.deemo.data.domain.User">
        update user
        <set>
            <if test="userId != null">`userId` = #{userId}, </if>
            <if test="username != null">`username` = #{username} , </if>
            <if test="gender != null">`gender` = #{gender}, </if>
            <if test="password != null">`password` = #{password} </if>
            <if test="departmentId != null">`departmentId` = #{departmentId}, </if>
            <if test="name != null">`name` = #{name}, </if>
            <if test="avatar != null">`avatar` = #{avatar} </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="com.capgemini.cn.deemo.data.domain.User">
        delete from user where `isBlocked` = 0 and id = #{id}
    </delete>

    <delete id="deleteBatch" parameterType="com.capgemini.cn.deemo.data.domain.User">
        delete from user WHERE id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=Integer}
        </foreach>
    </delete>


</mapper>