<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capgemini.cn.deemo.mapper.FileTypeMapper">
  
  <!-- 根据FileTypeSuffix获取FileTypeId -->
  <select id="getFileTypeIdByFileTypeSuffix" parameterType="String" resultType="Long">
    SELECT fileTypeId FROM FileType WHERE fileTypeSuffix = #{fileTypeSuffix}
  </select>
  
  <!-- 根据FileTypeId获取FileType详尽信息 -->
  <select id="getFileTypeByFileTypeId"
          parameterType="Long"
          resultType="com.capgemini.cn.deemo.data.domain.FileType">
    SELECT * FROM FileType WHERE fileTypeId = #{fileTypeId}
  </select>

  <!-- 获取FileType -->
  <select id="getAllFileType" resultType="com.capgemini.cn.deemo.data.domain.FileType">
    SELECT * FROM FileType;
  </select>

  <!-- 插入一条FileType -->
  <insert id="insertFileType" parameterType="com.capgemini.cn.deemo.data.domain.FileType">
    INSERT INTO FileType (
      fileTypeId,
      fileTypeName,
      fileTypeImage,
      fileTypeSuffix
    ) VALUES (
      #{fileType.fileTypeId},
      #{fileType.fileTypeName},
      #{fileType.fileTypeImage},
      #{fileType.fileTypeSuffix}
    )
  </insert>

  <!-- 删除一条FileType -->
  <delete id="deleteFileType" parameterType="com.google.common.primitives.UnsignedLong">
    DELETE FROM FileType
    WHERE fileTypeId = #{fileTypeId}
  </delete>
</mapper>