<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capgemini.cn.deemo.mapper.FileMapper">

  <!-- 根据fileId获取文件详尽信息 -->
  <select id="getFile" parameterType="Long" resultType="com.capgemini.cn.deemo.data.domain.File">
    SELECT * FROM File WHERE fileId = #{fileId}
  </select>

  <!-- 获取文件列表 -->
  <select id="getFiles" resultType="com.capgemini.cn.deemo.data.domain.File">
    SELECT * FROM File
  </select>

  <!-- 搜索文件 -->
  <select id="searchFiles" resultType="com.capgemini.cn.deemo.data.domain.File">

  </select>

  <!-- 插入一条File记录 -->
  <insert id="insertFile" parameterType="com.capgemini.cn.deemo.data.domain.File">
    INSERT INTO File (
      fileId,
      fileName,
      filePath,
      fileTypeId,
      fileOwnerId,
      remark,
      parentId
    ) VALUES (
      #{file.fileId},
      #{file.fileName},
      #{file.filePath},
      #{file.fileTypeId},
      #{file.fileOwnerId},
      #{file.remark},
      #{file.parentId}
    )
  </insert>

  <!-- 更新文件信息 -->
  <update id="updateFile" parameterType="com.capgemini.cn.deemo.vo.request.FileEditVo">
    UPDATE File
    SET fileName = #{fileEditVo.fileName}, remark = #{fileEditVo.remark}
    WHERE fileId = #{fileEditVo.fileId}
  </update>

  <!-- 根据fileId将文件放入回收站 -->
  <update id="putFileToTrash" parameterType="Long">
    UPDATE File SET isDeleted = 1 WHERE fileId = #{fileId}
  </update>

  <!-- 根据fileId从回收站中恢复文件 -->
  <update id="restoreFileFromTrash" parameterType="Long">
    UPDATE File SET isDeleted = 0 WHERE fileId = #{fileId}
  </update>

  <!-- 删除一条File在数据库中的记录 -->
  <delete id="deleteFile" parameterType="Long">
    DELETE FROM File WHERE fileId = #{fileId}
  </delete>
</mapper>